.git/**
.gitignore
.clineignore
.github/**
.vscode/**
test/**
scripts/**

out/test/**
src/**
upload/**
node_modules/.cache/**
node_modules/**
.venv/**
venv/**
**/__pycache__/**
.pytest_cache/**
out/src/**
*.log
*.zip
*.vsix
tsconfig.json
eslint.config.mjs
**/*.map
**/.ssh/**
**/.aws/**
**/.azure/**
**/.gnupg/**
**/.env
**/.env.*
**/*.pem
**/*.p12
**/*.pfx
**/*.key
**/*.keystore
**/*.jks
